/* *{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}
.header{
    width: 100%;
    background-color: #282828;

}
nav{
    width: 80%;
    display: flex;
    padding: 0% 10%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
    padding-left: 60px;
}
.nav-links{
    flex: 1;
    text-align: right;
    
}
.nav-links ul li{
    font-weight: bold;
    font-size: medium;
    list-style: none;
    display: inline-block;
    padding: 0px 70px;
    position: relative;
}
.nav-links ul li a{
    color: #ffffff;
    text-decoration: none;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #DB000C;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%; 
}
.banner{
    text-align: center;
    background: #DB000C;
    min-height: 100vh;
}
.banner h1{
    color: #ffffff;
    padding-top: 20%;
    font-weight: 700;
    font-size: 3rem;
}
<!---product-->

.our-product h1{
    text-align: center;
    color: #DB000C;

}
.box-container{
    width: 75%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    text-align: center;
    color: #282828;
    font-size: 1.5rem;
    font-weight: 500;

}

.row{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.product-col h3{
    color: #282828;
    font-size: 1.2rem;
    font-weight: 500;
}
.product-col img{
    width: 500px;
    margin-top: 30px;
    border-radius: 30px;
    border: #DB000C 5px solid;
    box-shadow: 0 0 15px 0 rgb(128, 128, 128);

}

.footer{
    margin-top: 20px;
    width: 100%;
    background-color: #DB000C;

}

.footer-nav{
    flex: 1;
    text-align: center;
    
}
.footer-nav ul li{
    font-weight: bold;
    font-size: medium;
    list-style: none;
    display: inline-block;
    padding: 50px 50px;
    position: relative;
}
.footer-nav ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #DB000C;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.footer-nav ul li:hover::after{
    width: 100%; 
}


 */
 * {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

.header {
    width: 100%;
    background-color: #282828;
}

nav {
    width: 80%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 150px;
    /* padding-left: 60px; */
}

/* .nav-links {
    flex: 1;
    text-align: right;
} */

.nav-links ul  {
    display: flex;
    justify-content: right;
    
   
}
.nav-links ul li {
    font-weight: bold;
    font-size: medium;
    list-style: none;
    /* display: inline-block; */
    /* padding: 0px 60px; */
    /* position: relative; */
    margin-left: 60px;
}

.nav-links ul li a {
    color: #ffffff;
    text-decoration: none;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #DB000C;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.banner {
    text-align: center;
    background-image:
    linear-gradient(to bottom, rgba(26, 26, 28, 0.52), rgba(243, 0, 53, 0.73)), url('/assets/abstract-background-copyspace-brainstorm.jpg');
    width:100%;
    height: 100vh;
    background-size: cover;
}

.banner h1 {
    color: #ffffff;
    padding-top: 20%;
    font-weight: 700;
    font-size: 3rem;
}

.our-product h1 {
    text-align: center;
    font-size: 2rem;
    color: #DB000C;
    margin-bottom: 40px;
}

.box-container {
    width: 75%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    color: #282828;
    font-size: 1.5rem;
    font-weight: 500;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.product-col h3 {
    color: #282828;
    font-size: 1.2rem;
    font-weight: 500;
}

.product-col img {
    width: 500px;
    margin-top: 30px;
    border-radius: 30px;
    border: #DB000C 5px solid;
    box-shadow: 0 0 15px 0 rgb(128, 128, 128);
}

.footer {
    margin-top: 40px;
    width: 100%;
    background-color: #282828;
    border-top: 10px solid #DB000C;
    bottom: 0;
}


.footer-name {
    width: 80%;
    margin: auto;
    padding-top: 10px;
}
.footer-list {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    align-items: flex-start
}
h5{
    font-size: 1rem;
    font-weight: 300;
    color: #ffffff;
    /* padding:  10px 0 10px 10px; */
    text-align: start;
    padding-bottom: 20px;
}
.footer-contact{
    width: 250px;
}
.menu_icon{
    display: none;
}

.dropdown {
    display: flex; 
}

/* .nav-links ul {
    width: 105%;

} */

.nav-links ul li {
    position: relative; /* Changed to allow dropdowns */
}

.dropdown li {
    padding: 10px 20px; 
}

.dropdown li a {
    color: #ffffff;
    text-decoration: none; 
}
/* Responsive Styles */
@media (max-width: 768px) {

    nav {
        flex-direction: column;
        align-items: start;
    }
    .menu_icon{
        position: relative;
        display: block;
    }
    nav img {
        width: 80px;
        padding:5% 0 5%;
    }
    .row {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
    }

    .nav-links ul li {
        padding: 10px 0;
        display: block;
    }
    
    .banner {
        text-align: center;
        background-image:
        linear-gradient(to bottom, rgba(26, 26, 28, 0.52), rgba(243, 0, 53, 0.73)), url('/logo/abstract-background-copyspace-brainstorm.jpg');
        width:100%;
        height: 30vh;
        background-size: cover;
    }

    .banner h1 {
        font-size: 1.2rem;
        padding-top: 25%;
    }

    .box-container {
        width: 90%;
        font-size: 1.2rem;
    }
    .nav-links {
        flex: 1;
        text-align: right;
    }

    .row {
        flex-direction: column;
        align-items: center;
    }

    .product-col {
        margin-bottom: 20px;
    }

    .product-col img {
        width: 90%;
        max-width: 400px; /* Limit max width */
    }
}

@media (max-width: 480px) {
   
    .banner {
        width: 100%;
        text-align: center;
        background: #DB000C;
        min-height: 30vh;
    }
    .menu_icon{
        position: absolute;
        top: 10px;
        right: -24px;
        color: #ffffff;
        width: 80px;
        display: block;
    }
    .banner h1 {
        font-size: 1.2rem;
        padding-top: 25%;
    }
    .box-container {
        font-size: 1rem;
    }

    .nav-links ul  {
        border-radius: 5px;
        /* background-color: #DB000C; */
        border: 0.5px solid rgb(78, 76, 76);
        margin-bottom: 8px;
    }
    .nav-links ul li {
        padding: 5px 10px;
        font-size:x-small;
        font-weight: 400;
    }
    
    .nav-links {
        display: flex;
        align-items: end;
    }
    .product-col h3 {
        font-size: 1rem;
    }

    .footer {
        margin-top: 10px;
        width: 100%;
        background-color: #282828;
        border-top: 3px solid #DB000C;
        bottom: 0;
        
    }
    
    
    .footer-name {
        width: 80%;
        margin: auto;
        padding-top: 5px;
    }
    .footer-list {
        display: flex;
        justify-content: space-between;
        margin-top: 5px;
        align-items: flex-start
    }
    h5{
        font-size: 4px;
        font-weight: 200;
        color: #ffffff;
        /* padding:  10px 0 10px 10px; */
        text-align: start;
        padding-bottom: 10px;
    }
    .footer-contact{
        width: 60px;
    }

}
/* new */




/* Responsive styles for dropdown */
@media (max-width: 768px) {
    .nav-links ul {
        width: 310px;
        position: relative; /* Added for dropdown positioning */
    }
    
    .nav-links ul li {
        position: relative; 
    }
    .our-product h1 {
        line-height: 1px;
        text-align: center;
        color: #DB000C;
    }
    
    /* .dropdown {
        display: none; 
        position: absolute;
        background-color: #282828; 
        padding: 5px 0; 
        min-width: 160px; 
        z-index: 1; 
    } */
    .dropdown li {
        padding: 10px 20px; 
    }
    
    .dropdown li a {
        color: #ffffff;
        text-decoration: none; 
    }
    
    .nav-links ul li:hover .dropdown {
        background-color: #fff;
        transition: 0.5s;
        display: block;
    }
    .nav-links ul {
        flex-direction: column; 
        display: none; 
    }
    
    .nav-links.active ul {
        display: flex; 
    }
    
}

/* active navigastion */
