
 * {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

.header {
    width: 100%;
    background-color: #282828;
}

nav {
    width: 80%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 150px;
    /* padding-left: 60px; */
}

/* .nav-links {
    flex: 1;
    text-align: right;
} */

.nav-links ul  {
    display: flex;
    justify-content: right;
    
   
}
.nav-links ul li {
    font-weight: bold;
    font-size: medium;
    list-style: none;
    /* display: inline-block; */
    /* padding: 0px 60px; */
    /* position: relative; */
    margin-left: 60px;
}

.nav-links ul li a {
    color: #ffffff;
    text-decoration: none;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #DB000C;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.banner {
    text-align: center;
    background-image:
    linear-gradient(to bottom, rgba(14, 14, 16, 0.52), rgba(13, 13, 13, 0.73)), url('/logo/abstract-background-copyspace-brainstorm.jpg');
    width:100%;
    height: 100vh;
    background-size: cover;
}

/* .banner h1 {
    color: #ffffff;
    padding-top: 50px;
    font-weight: 700;
    font-size: 3rem;
} */
/* .flag-container{
    width: 60%;
    margin: auto;
    text-align: center;
} */

.box-container {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    color: #282828;
    font-size: 1.5rem;
    font-weight: 500;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

/* .flag{
    width: 100px;
    height: auto;
    background-color: #ffffff;
    border-radius: 10px;
    object-fit: cover;
    padding: 1px;
   
} */
 

/* .product-col h3 {
    color: #DB000C;
    font-size: 1.5rem;
    font-weight: 500;
    background-color: #ffffff;
    padding: 5px 0 5px 0;
    border-radius: 10px;
    margin-top: 10px;
} */

.product-col img {
    width: 250px;
    height: 250px;
    margin-top: 10px;
    border-radius: 50%;
    border: #fff 5px solid;
    object-fit: cover;
    box-shadow: 0 0 15px 0 rgb(87, 87, 87);
    /* box-shadow: 0 0 15px 0 rgb(212, 212, 212); */
}

.team-name {
    width: 80%;
    margin: auto;
    padding-top: 10px;
}
.team-col {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    align-items: flex-start;
}
.name-col h3{
    font-size: 1.5rem;
    color: #ffffff;
    /* padding:  10px 0 10px 10px; */
    text-align: center;
    border-radius: 5px;
}
.name-col{
    width: 250px;
}
.name-col img{
    width: 50px;
    border-radius: 5px;
    margin-top: 5px;
    position: relative;
    margin-left: 8px;
    display: inline-block;
    
}

h4 {
    font-size: 1.2rem;
    margin-top: 10px;
    color: #fff;
}
.our-team{
    margin-top: 10px;
    color: #fff;
}
.part{
    margin-top: 10px;
    color: #282828;
}
.partner h1{
    font-size: 2.5rem;
    text-align: center;
    margin-top: 30px;
    color: #DB000C;
}
.part-name{
    color: #DB000C;
    font-size: 1.5rem;
}




.menu_icon{
    display: none;
}

.dropdown {
    display: flex; 
}

.nav-links ul li {
    position: relative; /* Changed to allow dropdowns */
}

.dropdown li {
    padding: 10px 20px; 
}

.dropdown li a {
    color: #ffffff;
    text-decoration: none; 
}
.footer {
    margin-top: 40px;
    width: 100%;
    background-color: #282828;
    border-top: 10px solid #DB000C  ;
}


.footer-name {
    width: 80%;
    margin: auto;
    padding-top: 10px;
}
.footer-list {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    align-items: flex-start
}
h5{
    font-size: 1rem;
    font-weight: 300;
    color: #ffffff;
    /* padding:  10px 0 10px 10px; */
    text-align: start;
    padding-bottom: 20px;
}
.footer-contact{
    width: 250px;
}


/* Responsive Styles */
@media (max-width: 768px) {

    nav {
        flex-direction: column;
        align-items: start;
    }
    .menu_icon{
        position: relative;
        display: block;
    }
    nav img {
        width: 80px;
        padding:5% 0 5%;
    }
    .row {
        display: flex;
        justify-content: space-between;
        margin-top: 3px;
    }
    .row1 {
        display: flex;
        justify-content: space-between;
        margin-top: 2px;
        align-items: center;
    }

    .nav-links ul li {
        padding: 10px 0;
        display: block;
    }
    
    .banner {
        text-align: center;
        background-color: #282828;
        width:100%;
        height: 30vh;
        background-size: cover;
    }

    /* .flag-container{
        width: 67%;
        margin: auto;
        text-align: center;
    } */

    .box-container {
        width: 80%;
        font-size: 1.2rem;
        padding-top: 1px;
    }
    .nav-links {
        flex: 1;
        text-align: right;
    }

    .row {
        /* flex-direction: column; */
        align-items: center;
    }
    .row1 {
        align-items: center;
    }

    .product-col img {
        width: 60px;
        height:60px;
        border-radius: 50%;
        border: #DB000C 2px solid;
        object-fit: cover;
        box-shadow: 0 0 15px 0 rgb(87, 87, 87);
        margin-top: 30px;
    }
    .team-name {
        width: 80%;
        margin: auto;
        padding-top:;
    }
    .team-col {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 0;
    }
    .name-col h3{
        font-size: 0.5rem;
        color: #DB000C;
        text-align: center;
        border-radius: 3px;
        margin-top: 5px;
    }
    .name-col{
        width: 60px;
    }
    .name-col img{
        width: 10px;
        border-radius: 5px;
        position: relative;
        margin-left: 8px;
        display: inline-block;
        
    }
    
    h4 {
        margin-top: 5px;
        color: #fff;
    }
    p{
        margin-top: 0;
        color: #282828;
    }
    .partner h1{
        font-size: 0.4rem;
        text-align: center;
        margin-top: 30px;
        color: #DB000C;
    }

    .our-team{
        margin-top: 3px;
    }
    .footer {
        margin-top: 10px;
        width: 100%;
        background-color: #282828;
        border-top: 3px solid #DB000C  ;
    }
    
    
    .footer-name {
        width: 80%;
        margin: auto;
        padding-top: 5px;
    }
    .footer-list {
        display: flex;
        justify-content: space-between;
        margin-top: 5px;
        align-items: flex-start
    }
    h5{
        font-size: 4px;
        font-weight: 200;
        color: #ffffff;
        text-align: start;
        padding-bottom: 10px;
    }
    .footer-contact{
        width: 60px;
    }
    


@media (max-width: 480px) {
   
    .banner {
        text-align: center;
        background-image:
        linear-gradient(to bottom, rgba(26, 26, 28, 0.52), rgba(188, 188, 188, 0.73)), url('/logo/abstract-background-copyspace-brainstorm.jpg');
        width:100%;
        height: 30vh;
        background-size: cover;
    }
    .menu_icon{
        position: absolute;
        top: 10px;
        right: -24px;
        color: #ffffff;
        width: 80px;
        display: block;
    }
    .banner h1 {
        font-size: 1rem;
        padding-top: 10px;
    }
    .box-container {
        font-size: 1rem;
    }


    .team-name {
        width: 80%;
        margin: auto;
        padding-top: 0;
    }
    .team-col {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 0;
    }
    .name-col h3{
        font-size: 5px;
        color: #ffffff;
        text-align: center;
        border-radius: 3px;
    }
    .name-col{
        width: 60px;
    }
    .name-col img{
        width: 10px;
        border-radius: 5px;
        position: relative;
        margin-left: 8px;
        display: inline-block;
        
    }
    
    h4 {
        margin-top: 4px;
        color: #fff;
        font-size: 4px;
    }
    p{
        margin-top: 3px;
        color: #282828;
        font-size: 3px;
    }
    .partner h1{
        font-size: 0.4rem;
        text-align: center;
        margin-top: 30px;
        color: #DB000C;
    }

    .nav-links ul  {
        width: 310px;
        border-radius: 5px;
        /* background-color: #DB000C; */
        border: 0.5px solid rgb(78, 76, 76);
        margin-bottom: 8px;
    }
    .nav-links ul li {
        padding: 5px 10px;
        font-size:x-small;
        font-weight: 400;
    }
    
    .nav-links {
        display: flex;
        align-items: end;
    }
    .product-col h3 {
        color: #DB000C;
        font-size: 0.8rem;
        font-weight: 400;
        background-color: #ffffff;
        padding: 3px 0 3px 0;
        border-radius: 5px;
        margin-top: 2px;
    }
}
/* new */




/* Responsive styles for dropdown */
@media (max-width: 768px) {
    .nav-links ul {
        position: relative; /* Added for dropdown positioning */
    }
    
    .nav-links ul li {
        position: relative; 
    }
    .our-product h1 {
        line-height: 1px;
        text-align: center;
        color: #DB000C;
    }
    
    
    .dropdown li {
        padding: 10px 20px; 
    }
    
    .dropdown li a {
        color: #ffffff;
        text-decoration: none; 
    }
    
    .nav-links ul li:hover .dropdown {
        background-color: #fff;
        transition: 0.5s;
        display: block;
    }
    .nav-links ul {
        flex-direction: column; 
        display: none; 
    }
    
    .nav-links.active ul {
        display: flex; 
    }
    
}

/* active navigastion */
